# Build artifacts
/target/
**/target/
/dist/

# C# / .NET
/shell/bin/
/shell/obj/
*.user
*.suo
*.vs/

# Node / TypeScript
/node_modules/
/ui/node_modules/
/ui/dist/
**/node_modules/
**/dist/
*.tsbuildinfo
pnpm-lock.yaml
**/pnpm-workspace.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Misc
.cache
/tmp/
artifacui/
*.png
**/shell-binary/
shell/publish/
